<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <title>Map</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-info navbar-dark">
<a href="{% url 'home' %}" class="navbar-brand"><b>Tourism Guide</b></a>
<span class="navbar-text" style = "color : Black ; font-weight : bold">Pune Explorer</span>
  <ul class="navbar-nav">
    
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}" style = "color : white ; font-weight : bold">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'about' %}" style = "color : white ; font-weight : bold">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'contact' %}" style = "color : white ; font-weight : bold">Contact</a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="{% url 'map' %}" style = "color : white ; font-weight : bold">Map</a>
    </li>

    </li>
      <li class="nav-item">
      <a class="nav-link" href="{% url 'admin_login' %}" style = "color : white ; font-weight : bold">Admin Login</a>
    </li>

  </ul>
</nav>

<div style = "margin-top : 50px">
<center><h2 font-color="red">Pune Map</h2>
<br>
    <img src="{% static 'images/p_map.jpg'%}" style="width:800px;height:600px">
</center>
</div>
</body>
</html>
